<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <input type="text" class="form-control" #serverNameInput>
        <label>Server Content</label>
        <input type="text" class="form-control" #newServerContentInput>
        <br>
        <button class="btn btn-primary" (click)="onServerAdded(serverNameInput)">Add Server</button>
        <button class="btn btn-primary ml-3" (click)="onBlueprintAdded(serverNameInput)">Add Server Blueprint</button>
        <button class="btn btn-danger ml-3" (click)="onServersDeleted()">Clear Servers</button>
    </div>
</div>